{% extends 'simplelist/index.html' %}
{% load wagtailcore_tags %}


{% block content %}
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>{{ page.title|capfirst }}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <div class="ex-basic-1 pt-5 pb-5" style="min-height: 100vh">
        <div class="container">
            <div class="row">
                <div>
                    {{ page.content|richtext }}
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->


{% endblock %}