{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

<footer class="footer-1 footer-3 overflow-hidden" style="background-image: url({% static 'consulting/assets/img/footer/footer-bg-3.png' %});">
    <div class="overly">
        <div class="container"></div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-xl-3">
                <div class="single-footer-wid widget-description">
                    <a href="index.html" class="d-block mb-30 mb-xs-20">
                        {% with logo=settings.consulting.GeneralInfo.enterprise_logo %}
                            {% if logo %}
                                {% image logo width-300 alt="logo" %}
                            {% else %}
                                <img src="{% static 'consulting/assets/img/logo/logo-3.png' %}" alt="logo">
                            {% endif %}
                        {% endwith %}
                    </a>

                    <div class="description font-la color-white mb-40 mb-sm-30 mb-xs-25">
                        <p>{{ settings.consulting.GeneralInfo.footer_resume|default:'' }}</p>
                    </div>

                    
                </div>
            </div> <!-- /.col-lg-3 - single-footer-wid -->

            <div class="col-md-6 col-xl-2">
                <div class="single-footer-wid pl-xl-10 pl-50">
                    <h4 class="wid-title mb-30 color-white">Enlaces R&aacute;pidos</h4>
                    
                    <ul>
                        {% for footer_link in settings.consulting.GeneralInfo.footer_urls %}
                            <li><a href="{% pageurl footer_link.value.urls %}">{{ footer_link.value.label  }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- /.col-lg-2 - single-footer-wid -->

           

            <div class="col-md-6 col-xl-3">
                <div class="single-footer-wid">
                    <h4 class="wid-title mb-30 color-white">Ubicaci&oacute;n de nuestra Empresa</h4>

                    <div id="map" class="pinRed"></div>
                </div>
            </div> <!-- /.col-lg-3 - single-footer-wid -->
        </div>
    </div>

    <div class="footer-bottom overflow-hidden mt-20 mt-sm-15 mt-xs-10">
        <div class="container">
            <div class="footer-bottom-content d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="coppyright text-center text-md-start">
                    &copy; {% now "Y" %}
                    {% with home_page=settings.consulting.GeneralInfo.home_page %}
                        {% if home_page %}
                        <a href="{% pageurl home_page %}">{{ settings.consulting.GeneralInfo.enterprise_name|default:'' }}</a> | Todos los derechos reservados 
                        {% else %}
                        <a href="/">{{ settings.consulting.GeneralInfo.enterprise_name|default:'' }}</a> | Todos los derechos reservados 
                        {% endif %}
                     {% endwith %}
                </div>

                <div class="footer-bottom-list last_no_bullet">
                    <ul>
                        {% if settings.consulting.GeneralInfo.terms_page %}
                        <li><a href="{% pageurl settings.consulting.GeneralInfo.terms_page %}">T&eacute;rminos y Condiciones</a></li>
                        {% endif %}
                        {% if settings.consulting.GeneralInfo.privacy_page %}
                        <li><a href="{% pageurl settings.consulting.GeneralInfo.privacy_page %}">Pol&iacute;ticas de privacidad</a></li>
                        {% endif %}                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>