{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}

<header class="header header-1 header-3">
        <div class="top-header d-none d-xl-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="header-right-socail d-flex align-items-center">
                            <h6 class="font-la color-white fw-normal">Siguenos en:</h6>

                            <div class="social-profile">
                                <ul>
                                    {% with general_settings=settings.consulting.GeneralInfo %}
                                        {% if general_settings.facebook_link %}
                                        <li><a href="{{ general_settings.facebook_link }}"><i class="fab fa-facebook-f"></i></a></li>
                                        {% endif %}
                                        {% if general_settings.twitter_link %}
                                        <li><a href="{{ general_settings.twitter_link }}"><i class="fab fa-twitter"></i></a></li>
                                        {% endif %}
                                        {% if general_settings.instagram_link %}
                                            <li><a href="{{ general_settings.instagram_link }}"><i class="fab fa-instagram"></i></a></li>
                                        {% endif %}
                                        {% if general_settings.linkedin_link %}
                                            <li><a href="{{ general_settings.linkedin_link }}"><i class="fab fa-linkedin-in"></i></a></li>
                                        {% endif %}
                                        {% endwith %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="header-cta d-flex justify-content-end">
                            <ul>
                                <li><a><i class="icon-phone"></i> {{ settings.consulting.GeneralInfo.contact_phone }}</a></li>
                                <li><a href="mailto:{{ settings.consulting.GeneralInfo.contact_email }}"><i class="icon-email"></i>{{ settings.consulting.GeneralInfo.contact_email }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-header-wraper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="header-logo">
                                <div class="logo">
                                    
                                    {% with logo=settings.consulting.GeneralInfo.enterprise_logo %}
                                        {% if logo %}
                                        {% with home_page=settings.consulting.GeneralInfo.home_page%}
                                            {% if home_page %}
                                            <a href="{% pageurl home_page %}">
                                                {% image logo width-800 alt="logo" style="height:50px; width: auto" %}
                                            </a>
                                            {% else %}
                                                {% image logo width-300 alt="logo" %}
                                            {% endif %}
                                        {% endwith %}
                                        {% else %}
                                            <img src="{% static 'consulting/assets/img/logo/logo-3.png' %}" alt="logo">
                                        {% endif %}
                                    {% endwith %}
                                    
                                </div>
                            </div>

                            <div class="header-menu d-none d-xl-block">
                                <div class="main-menu">
                                    <ul>
                                        <li>
                                            {% with home_page=settings.consulting.GeneralInfo.home_page %}
                                                {% if home_page %}
                                                    <a href="{% pageurl home_page %}">Inicio</a>
                                                {% else %}
                                                    <a href="#">Inicio</a>
                                                {% endif %}
                                            {% endwith %}
                                        </li>
                                        <li>
                                            <a href="#">Nuestros servicios</a>

                                            <ul>
                                                {% for sm in services_menu %}
                                                <li><a href="{% pageurl sm %}">{{ sm.title | capfirst }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Más información</a>
                                            
                                            <ul>
                                                {% for pm in pages_menu %}
                                                    <li><a href="{% pageurl pm %}">{{ pm.title | capfirst }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% comment %}
                                        <li>
                                            <a href="our-project.html">Portfolio</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog</a>

                                            <ul>
                                                <li><a href="blog.html">Blog 1</a></li>
                                                <li><a href="blog-standard.html">Blog 2</a></li>
                                            </ul>
                                        </li>
                                        {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="header-right d-flex align-items-center">
                                {% comment %}
                                <div class="header-search">
                                    <a class="search-toggle" data-selector=".header-search">
                                        <span class="fas fa-search"></span>
                                    </a>

                                    <form class="search-box" action="mail.php" method="POST">
                                        <div class="form-group d-flex align-items-center">
                                            <input type="search" name="s" value="" class="search-input" id="search" placeholder="Search">
                                            <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                {% endcomment %}

                                {% with contact_page=settings.consulting.GeneralInfo.contact_page %}
                                    {% if contact_page %}
                                    <a href="{% pageurl contact_page %}" class="header-btn">Obten una cotización <i class="far fa-chevron-double-right"></i></a>
                                    {% endif %}
                                {% endwith %}
                                <div class="mobile-nav-bar d-block ml-3 ml-sm-5 d-xl-none">
                                    <div class="mobile-nav-wrap">
                                        <div id="hamburger">
                                            <i class="fal fa-bars"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mobile-nav mobile-nav-red">
        <button type="button" class="close-nav">
            <i class="fal fa-times-circle"></i>
        </button>

        <nav class="sidebar-nav">
            <div class="navigation">
                <div class="consulter-mobile-nav">
                    <ul>
                        <li>
                            {% with home_page=settings.consulting.GeneralInfo.home_page %}
                                {% if home_page %}
                                    <a href="{% pageurl home_page %}">Inicio</a>
                                {% else %}
                                    <a href="#">Inicio</a>
                                {% endif %}
                            {% endwith %}
                        </li>
                        <li>
                            <a href="#">Nuestros servicios</a>

                            <ul>
                                {% for sm in services_menu %}
                                    <li><a href="{% pageurl sm %}">{{ sm.title | capfirst }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a>Más información</a>
                                            
                            <ul>
                                {% for pm in pages_menu %}
                                    <li><a href="{% pageurl pm %}">{{ pm.title | capfirst }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-nav__bottom mt-20">
                    <div class="sidebar-nav__bottom-contact-infos mb-20">
                        <h6 class="color-black mb-5">Información de contacto</h6>

                        <ul>
                            <li><a href="mailto:{{ settings.consulting.GeneralInfo.contact_email }}"><i class="icon-email"></i>{{ settings.consulting.GeneralInfo.contact_email }}</a></li>
                            <li>
                                <a class="header-contact d-flex align-items-center">
                                    <div class="icon">
                                        <i class="icon-call"></i>
                                        <!-- <img src="{% static 'consulting/assets/img/icon/phone-1.svg' %}" alt=""> -->
                                    </div>
                                    <div class="text">
                                        <span class="font-la mb-5 d-block fw-500">Llámanos</span>
                                        <h5 class="fw-500">{{ settings.consulting.GeneralInfo.contact_phone}}</h5>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                   
                </div>
            </div>
        </nav>
    </div>

        
    <div class="offcanvas-overlay"></div> <!-- offcanvas-overlay -->
    <!-- header end -->

    <div class="header-gutter home"></div><!-- header end -->