{% load static %}

<style>
    #whatsappbutton {
        width: 160px;
        height: 150px;
        position: fixed;
        z-index: 1000;
        right: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .pulse_whatsapp {
        background: black;
        border-radius: 50%;
        margin: 10px;
        height: 20px;
        width: 20px;

        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.whatsapp_bottom_legend {
    position: fixed;
    width: 200px;
    bottom: 10px;
    right: 5px;
    z-index: 1000;
   
    justify-content: center;
    display: flex;
}

.whatsapp_text {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-size: 0.85em;
}

.whatsapp_icon {
    width: 60px;
    height: 60px;
}

@media(max-width:648px) {
    .whatsapp_text {
        display: none;
    }

    #whatsappbutton {
        width: 100px;
        height: 80px;
        position: fixed;
        z-index: 1000;
        right: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .whatsapp_icon {
        width: 50px;
        height: 50px;
    }
}

</style>
{% with whatsapp_number=settings.consulting.GeneralInfo.whatsapp_number whatsapp_text=settings.consulting.GeneralInfo.whatsapp_text %}
    {% if whatsapp_number %}
        <div id="whatsappbutton">
            <div  class="pulse_whatsapp whatsapp_icon">
                <a href="https://wa.me/{{ whatsapp_number }}" target="_blank">
                    <img src="{% static 'consulting/assets/img/whatsapp.png' %}" alt="whatsapp" class="whatsapp_icon">
                </a>
            </div>
            {% if whatsapp_text %}
            <div>
                <span class="whatsapp_text">{{ whatsapp_text }}</span>
            </div>
            {% endif %}
        </div>
        
    {% endif %}
{% endwith %}
