<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="modinatheme">
    <!-- ======== Page title ============ -->
    <title>Offline Solutions</title>
    {% load static %}
    {% load wagtailcore_tags wagtailimages_tags %}
    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'consulting/assets/img/shortlogo3.png' %}">
    <!-- ===========  All Stylesheet ================= -->
    <!--  Icon css plugins -->
    <link rel="stylesheet" href="{% static 'consulting/assets/css/all.min.css' %}">
</head>

<body class="body-wrapper">
    <!-- preloader -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
                <div class="txt-loading">
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="F" class="letters-loading">
                        F
                    </span>
                    <span data-text-preloader="F" class="letters-loading">
                    F
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                    L
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    
                </div>
            <p class="text-center">Solutions</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- welcome content start from here -->

    {% include 'consulting/includes/header.html' %}
    

    {% block content %}{% endblock %}
    <!-- testimonial end -->

   

    <!-- footer start -->
    {% include 'consulting/includes/footer.html' %}

    {% include 'consulting/includes/whatsapp_button.html' %}
    <!-- footer end -->

    <!--  ALl JS Plugins
    ====================================== -->

    <script src="{% static 'consulting/assets/js/all.min.js' %}"></script>
    <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNzB36AcEMpFG1kWuNC5dfLvdX83OUr5M&callback=initMap"></script>
</body>

</html>