{% extends 'consulting/base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags home_extras %}



{% block content %}

<!-- page-banner start -->
<section class="page-banner pt-xs-60 pt-sm-80 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-banner__content mb-xs-10 mb-sm-15 mb-md-15 mb-20">
                    <div class="transparent-text">{{ page.hero_title }}</div>
                    <div class="page-title">
                        <h1>{{ page.hero_title | title }}</h1>
                    </div>
                </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title | capfirst }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-6">
                <div class="page-banner__media mt-xs-30 mt-sm-40">

                    {% image page.hero_image width-1000 class="img-fluid" %}
                    <!--<img src="{% static 'consulting/assets/img/page-banner/page-banner.jpg' %}" class="img-fluid" alt="">-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-banner end -->

<!-- team-area start -->
<section
        class="services-details pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-115 overflow-hidden">
    <div class="container">
        <div class="row" data-sticky_parent>
            <div class="col-xl-8" data-sticky_column>
                <section class="can-help">
                    {{ page.body }}

                    <br><br>
                    <div class="contact-form col-12 col-xl-8">
                        {% with text_input_array='text email number textarea select radio' %}
                            <form action="{% pageurl page %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.field.widget.input_type in text_input_array.split %}
                                        <div class="single-personal-info">
                                            {{ field }}
                                            <small style="margin-left: 0.5rem; color: #999">{{ field.help_text }}</small>
                                        </div>
                                    {% elif field.field.widget.input_type == 'checkbox' %}
                                        <div class="d-flex justify-content-start">
                                            <label for=""> {{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="d-flex justify-content-end">
                                    <button type="submit"
                                            class="theme-btn btn-sm btn-red">{{ page.form_button_text }}</button>
                                </div>
                            </form>
                        {% endwith %}
                    </div>
                    <br><br>
                {{ page.bottom_body }}

                </section>

            </div>


            {% include 'consulting/includes/contact_sidebar.html' %}
           
        </div>
    </div>
</section>
<!-- team-area end -->

{% endblock %}