{% extends 'consulting/base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<section class="page-banner pt-xs-60 pt-sm-80 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-banner__content mb-xs-10 mb-sm-15 mb-md-15 mb-20">
                    <div class="transparent-text">{{ page.hero_title }}</div>
                    <div class="page-title">
                        <h1>{{ page.hero_title | title }}</h1>
                    </div>
                </div>

                {% include 'consulting/includes/breadcrums.html' %}

            </div>

            <div class="col-md-6">
                <div class="page-banner__media mt-xs-30 mt-sm-40">

                    {% image page.hero_image width-1000 class="img-fluid" %}
                    <!--<img src="{% static 'consulting/assets/img/page-banner/page-banner.jpg' %}" class="img-fluid" alt="">-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-banner end -->

<!-- team-area start -->
<section
        class="services-details pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-115 overflow-hidden">
    <div class="container">
        <div class="row" data-sticky_parent>
            <div class="col-xl-8" data-sticky_column>
                {% for element in page.body %}
                    {% if element.block_type == 'h1' or element.block_type == 'h2' or element.block_type == 'h3' or element.block_type == 'h4'%}
                        <{{ element.block_type }}>{{ element.value }}</{{ element.block_type }}>
                    {% elif element.block_type == 'image' %}
                        <div style="padding: 20px 0 20px 0">
                            {% image element.value width-1000 style='width: 100%; height: auto' %}
                        </div>
                    {% elif element.block_type ==  'paragraph' %}
                        {{ element.value | richtext }}
                    {% elif element.block_type == 'quote' %}
                        <div style="background-color: #dddddd; padding: 20px 20px 20px 50px;">
                            <img src="{% static 'techblog/assets/images/blockquote2.png' %}" alt=""
                                 width="50" height="50">
                            <p>
                                {{ element.value | richtext }}
                            </p>
                        </div>
                    {% elif element.block_type == 'youtube_video' %}
                        <div style="padding:20px 0 20px 0">
                            <figure class="post-media">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="700" height="400"
                                            src="{{ element.value }}"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                                <figcaption>
                                    Drawn for an insurance company
                                </figcaption>
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-xl-4">
                <div class="main-sidebar" data-sticky_column>
                    <div class="single-sidebar-widget mb-40 pt-30 pr-30 pb-40 pl-30 pl-xs-20 pr-xs-20">
                        <h4 class="wid-title mb-30 mb-xs-20 color-d_black text-capitalize">{{ page.side_block_title | title }}</h4>

                        <div class="widget_categories">
                            <ul>
                                {% for other_service in other_services %}
                                    <li><a href="{% pageurl other_service %}">{{ other_service.title | title }} <i class="fas fa-long-arrow-alt-right"></i></a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    
                    <div class="single-sidebar-widget have-any mb-40 pt-30 pr-30 pb-40 pl-30 pl-xs-20 pr-xs-20">

                        <div class="media">
                            <img src="{% static 'consulting/assets/img/contactus.jpg' %}" alt="">
                        </div>
            
                        <div class="have-any__item text-center">
                            <h4 class="wid-title mb-20 mb-xs-15 color-white text-capitalize">Contáctanos</h4>
                            
                            {% with contact_page=settings.consulting.GeneralInfo.contact_page %}
                            {% if contact_page %}
                                <a href="{% pageurl contact_page %}" class="theme-btn">Contáctanos <i
                                        class="fab fa-telegram-plane"></i></a>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-area end -->

{% endblock %}